@import "tailwindcss";

:root {
  --dark: #111111;
  --dark-alternate: #1B1918;
  --primary: #FF5F3F;
  --primary-alternate: #F4EBEB;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-alternate: var(--primary-alternate);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow-x: hidden;
}

* {
  @apply font-poppins;
}